@import "../node_modules/modern-normalize/modern-normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

:root {

--main-bg-color: #F2F5FC;
--black-text-color: #000;
--main-text-color: #52555F;
--placeholder-text-color: #C7CCDC;
--balance-text-color: #52555fb3;
--accent-color: #FF751D;
--pale-orange: #FFDAC0;
--table-color: #F5F6FB;
--dark-icons-color: #071F41;
--light-icons-color: #F5F6FB;
--red-text-color: #E53935;
--green-text-color: #407946;
--kapusta-color: #DFE2EB;
  }
 
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
}
address {
  font-style: normal;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Date picker */
.datepicker {
  position: relative;
  border: 0;
  padding: 0;
  margin-bottom: 4px;
  margin-left: 10px;
  width: 75px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  outline: none;
  color: #52555f;
  background-color: transparent;
}

@media screen and (max-width: 767px) {
  .datepicker {
    background: inherit;
  }
}

.datepicker:hover {
  cursor: pointer;
}

/* Tabs */
.react-tabs {
  -webkit-tap-highlight-color: transparent;
  /* margin-bottom: 50px; */
}

.react-tabs__tab-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.react-tabs__tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: 0px;
  position: relative;
  list-style: none;
  padding: 15px 45px 15px 45px;
  cursor: pointer;
  background: #fafbfd;
  border: none;
  border-radius: 20px 20px 0px 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  width: 138px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.react-tabs__tab--selected {
  background: #fefefe;
  border-color: #aaa;
  color: #ff751d;
}

.react-tabs__tab:focus {
  box-shadow: 0 0 5px #a6abb9;
  border-color: #a6abb9;
  outline: none;
}

.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab-panel {
  display: none;
  width: 1060px;
  height: 579px;
  box-shadow: 0px 10px 60px rgb(170 178 197 / 20%);
  border-radius: 0px 30px 30px 30px;
}

.react-tabs__tab-panel--selected {
  display: block;
  padding: 20px;
  background: #fff;
}

/* mobile */
@media screen and (max-width: 767px) {
  .react-tabs__tab-list {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .react-tabs__tab {
    width: 100%;
    height: 53px;
  }

  .react-tabs__tab--selected {
    background: #ff751d;
    border-color: #aaa;
    color: #fefefe;
  }

  .react-tabs__tab-panel--selected {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .react-tabs__tab-panel {
    position: absolute;
    bottom: 54px;
    left: 0;
    width: 100%;
    overflow: hidden;
    padding: 0;
    background: inherit;
    text-align: center;
  }
}


/* tablet */
@media screen and (min-width: 768px) {
  .react-tabs__tab {
    border-radius: 20px 20px 0px 0px;
  }

  .react-tabs__tab-panel {
    width: 100%;
    height: 626px;
    box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
    border-radius: 0px 30px 30px 30px;
  }

  .react-tabs {
    margin-top: 58px;
  }
}

/* desktop */
@media screen and (min-width: 1280px) {
  .react-tabs__tab-panel {
    width: 1060px;
    height: 579px;
  }

  .react-tabs {
    margin-top: 10px;
  }
}